@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    Layout = null;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Roboto:wght@900&display=swap" rel="stylesheet">

<style>
    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto Flex', Helvetica, Arial
    }

    .landingpage {
        display: grid;
        grid-template-rows: 100vh;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        background-color: #808080;
        background-image: url("img/Stock_Yosemite.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .darkglass {
        background-color: rgba(0, 0, 0, .4);
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 30% 40% 30%;
        align-items: center;
        justify-items: center;
    }

    .panel {
        width: clamp(300px, 80%, 400px);
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(8px);
        justify-self: center;
        align-self: start;
        font-size: 18px;
        line-height: 24px;
        padding: 20px;
    }

    .panelTitle {
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 20px;
        text-transform: uppercase;
        margin-top: 15px;
    }

    .panelTitle_Level1 {
        font-weight: 400;
        font-size: 24px;
        margin-top: 20px;
        color: #202020;
        margin-bottom: 20px;
    }

    .panelBody_Level1 {
        margin-left: 20px;
    }

    .panelBody {
        font-size: 18px;
        line-height: 24px;
    }

    .resume {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
</style>

<div class="landingpage">
    <div class="darkglass">

        <div style="grid-column-start: 1; grid-column-end: 5; grid-row-start: 2; grid-row-end: 3; width: 70%">


            <div id="divGuyGuzman" style="clip-path: url(#clipGuyGuzman); backdrop-filter: blur(5px);">
                <svg id="svgGuyGuzman" viewBox="0 0 100 10.92033" fill="#ffffff" fill-opacity=".6">
                    <defs>
                        <clipPath id="clipGuyGuzman" clipPathUnits="objectBoundingBox">
                            <path d=" M0.079,0.88 c-0.007,0.084,-0.018,0.12,-0.03,0.12 C0.019,1,0,0.781,0,0.509
                C0,0.146,0.028,0,0.051,0 c0.027,0,0.043,0.132,0.048,0.357 h-0.031
                c-0.001,-0.069,-0.008,-0.119,-0.015,-0.119 c-0.022,0,-0.021,0.213,-0.021,0.278
                c0,0.09,0.004,0.246,0.024,0.246 c0.007,0,0.015,-0.035,0.017,-0.106 h-0.014 v-0.205 h0.043 v0.525 h-0.02
                l-0.001,-0.098 M0.202,0.608 c0,0.265,-0.016,0.392,-0.047,0.392 s-0.048,-0.127,-0.048,-0.392 V0.023
                h0.032 V0.543 c0,0.098,0,0.219,0.016,0.219 c0.015,0,0.015,-0.122,0.015,-0.219 V0.023 h0.032 V0.608
                M0.246,0.626 L0.209,0.023 h0.035 l0.017,0.352 L0.28,0.023 h0.035 l-0.037,0.603 v0.352 h-0.032 v-0.352
                M0.441,0.88 c-0.007,0.084,-0.018,0.12,-0.03,0.12 c-0.031,0,-0.05,-0.219,-0.05,-0.491
                c0,-0.364,0.028,-0.509,0.051,-0.509 c0.027,0,0.043,0.132,0.048,0.357 h-0.031
                c-0.001,-0.069,-0.008,-0.119,-0.015,-0.119 c-0.022,0,-0.021,0.213,-0.021,0.278
                c0,0.09,0.004,0.246,0.024,0.246 c0.007,0,0.015,-0.035,0.017,-0.106 h-0.014 v-0.205 h0.043 v0.525 h-0.02
                l-0.001,-0.098 M0.564,0.608 c0,0.265,-0.016,0.392,-0.047,0.392 s-0.048,-0.127,-0.048,-0.392 V0.023
                h0.032 V0.543 c0,0.098,0,0.219,0.016,0.219 c0.015,0,0.015,-0.122,0.015,-0.219 V0.023 h0.032 V0.608
                M0.57,0.747 l0.048,-0.48 h-0.046 V0.023 h0.088 V0.237 l-0.049,0.496 h0.051 v0.245 h-0.093 v-0.23
                M0.669,0.023 h0.046 l0.015,0.561 h0 l0.015,-0.561 h0.046 V0.977 h-0.03 V0.365 h0 l-0.018,0.612 h-0.024
                l-0.018,-0.612 h0 v0.612 h-0.03 V0.023 M0.832,0.023 h0.031 l0.038,0.954 h-0.033 l-0.004,-0.136 h-0.033
                l-0.005,0.136 h-0.032 L0.832,0.023 m0.025,0.614 l-0.009,-0.294 h0 l-0.01,0.294 h0.02 M0.906,0.023 h0.033
                l0.03,0.511 h0 V0.023 h0.03 V0.977 h-0.031 l-0.032,-0.521 h0 v0.521 h-0.03 V0.023 " />
                        </clipPath>
                    </defs>
                    <g>
                        <path id="pathGuyGuzman"
                              d="
                M7.94175,9.60641c-.71517,.91965-1.82462,1.31392-2.96342,1.31392C1.898,10.92033,0,8.52533,0,5.5624,0,1.59128,2.78878,0,5.13878,0c2.6572,0,4.33604,1.44551,4.80321,3.89774h-3.08033c-.11691-.75871-.7592-1.29925-1.5184-1.29925-2.20422,0-2.13133,2.32162-2.13133,3.0368,0,.97835,.39427,2.68655,2.35048,2.68655,.74452,0,1.50372-.3796,1.66417-1.15347h-1.41616v-2.23406h4.26316v5.73753h-2.02959l-.10224-1.06542Z
                M20.24694,6.64299c0,2.89004-1.56193,4.27734-4.7445,4.27734s-4.75918-1.3873-4.75918-4.27734V.2485h3.21143V5.92684c0,1.0664,0,2.395,1.56193,2.395,1.5184,0,1.5184-1.3286,1.5184-2.395V.2485h3.21192V6.64299Z
                M24.55118,6.83279L20.88726,.2485h3.54749l1.73706,3.83904L27.98225,.2485h3.51814l-3.73729,6.58429v3.83904h-3.21192v-3.83904Z
                M44.11083,9.60641c-.71517,.91965-1.82462,1.31392-2.96342,1.31392-3.08033,0-4.97833-2.395-4.97833-5.35793,0-3.97112,2.78878-5.5624,5.13878-5.5624,2.6572,0,4.33604,1.44551,4.80321,3.89774h-3.08033c-.11691-.75871-.7592-1.29925-1.5184-1.29925-2.20422,0-2.13133,2.32162-2.13133,3.0368,0,.97835,.39427,2.68655,2.35048,2.68655,.74452,0,1.50372-.3796,1.66417-1.15347h-1.41616v-2.23406h4.26316v5.73753h-2.02959l-.10224-1.06542Z
                M56.41552,6.64299c0,2.89004-1.56145,4.27734-4.74401,4.27734s-4.75918-1.3873-4.75918-4.27734V.2485h3.21143V5.92684c0,1.0664,0,2.395,1.56242,2.395,1.5184,0,1.5184-1.3286,1.5184-2.395V.2485h3.21094V6.64299Z
                M56.96829,8.16041l4.84674-5.24053h-4.56889V.2485h8.80319V2.58431l-4.89077,5.41565h5.12361v2.67187h-9.31388v-2.51142Z
                M66.8506,.2485h4.56889l1.48905,6.13131h.02935l1.48905-6.13131h4.56987V10.67183h-3.0368V3.98579h-.02935l-1.80995,6.68604h-2.39402l-1.81092-6.68604h-.02935v6.68604h-3.03582V.2485Z
                M83.24284,.2485h3.13854l3.79599,10.42333h-3.32834l-.4383-1.48905h-3.31367l-.46765,1.48905h-3.22562L83.24284,.2485Zm2.5261,6.70071l-.93432-3.21192h-.02935l-1.0077,3.21192h1.97137Z
                M90.61274,.2485h3.2853l3.0368,5.57659h.02837V.2485h3.0368V10.67183h-3.12387l-3.19724-5.6935h-.02935v5.6935h-3.0368V.2485Z " />
                    </g>
                </svg>
            </div>

            <div id="divDeveloper" style="clip-path: url(#clipDeveloper); backdrop-filter: blur(5px); margin-top: 50px; margin-left: auto; margin-right: auto; width: 50%; justify-self: center;">
                <svg id="svgDeveloper" viewBox="0 0 100 10.92033" fill="#ffffff" fill-opacity=".6">
                    <defs>
                        <clipPath id="clipDeveloper" clipPathUnits="objectBoundingBox">
                            <path d="M3.1875,4.27344c0-.22119-.07812-.39111-.23438-.50977s-.4375-.24365-.84375-.375-.72803-.26123-.96484-.38867C.49854,2.65088,.17578,2.18115,.17578,1.58984c0-.30713,.08643-.58154,.25977-.82227S.85742,.33838,1.18164,.20312s.68799-.20312,1.0918-.20312c.40625,0,.76807,.07373,1.08594,.2207s.56445,.35498,.74023,.62305,.26367,.57275,.26367,.91406h-1.17188c0-.26025-.08203-.46289-.24609-.60742s-.39453-.2168-.69141-.2168c-.28662,0-.50928,.06055-.66797,.18164s-.23828,.28076-.23828,.47852c0,.18506,.09326,.33984,.2793,.46484s.46045,.24219,.82227,.35156c.6665,.20068,1.15234,.44922,1.45703,.74609s.45703,.6665,.45703,1.10938c0,.49219-.18604,.87842-.55859,1.1582s-.87354,.41992-1.50391,.41992c-.4375,0-.83594-.08008-1.19531-.24023s-.6333-.37939-.82227-.6582-.2832-.60156-.2832-.96875H1.17578c0,.62744,.375,.94141,1.125,.94141,.27881,0,.49609-.05664,.65234-.16992s.23438-.27148,.23438-.47461Z" /><path d="M8.57812,3.30078h-2.25v1.52344h2.64062v.94141h-3.8125V.07812h3.80469v.94922h-2.63281v1.35547h2.25v.91797Z" /><path d="M14.28125,5.76562h-1.17188l-2.28125-3.74219v3.74219h-1.17188V.07812h1.17188l2.28516,3.75V.07812h1.16797V5.76562Z" /><path d="M16.55078,5.76562h-1.17188V.07812h1.17188V5.76562Z" /><path d="M22.30859,3.05078c0,.56006-.09912,1.05078-.29688,1.47266s-.48096,.74756-.84961,.97656-.79102,.34375-1.26758,.34375c-.47119,0-.89209-.11328-1.26172-.33984s-.65625-.55029-.85938-.9707-.30615-.9043-.30859-1.45117v-.28125c0-.56006,.10107-1.05273,.30273-1.47852s.48682-.75244,.85547-.98047,.78955-.3418,1.26367-.3418,.89502,.11377,1.26367,.3418,.65381,.55469,.85547,.98047,.30273,.91748,.30273,1.47461v.25391Zm-1.1875-.25781c0-.59619-.10693-1.04932-.32031-1.35938s-.51807-.46484-.91406-.46484c-.39307,0-.69678,.15283-.91016,.45898s-.32178,.75439-.32422,1.3457v.27734c0,.58057,.10693,1.03125,.32031,1.35156s.521,.48047,.92188,.48047c.39307,0,.69531-.1543,.90625-.46289s.31787-.7583,.32031-1.34961v-.27734Z" /><path d="M25.26562,3.68359h-.93359v2.08203h-1.17188V.07812h2.11328c.67188,0,1.18994,.1499,1.55469,.44922s.54688,.72266,.54688,1.26953c0,.38818-.08398,.71143-.25195,.9707s-.42236,.46533-.76367,.61914l1.23047,2.32422v.05469h-1.25781l-1.06641-2.08203Zm-.93359-.94922h.94531c.29443,0,.52197-.07471,.68359-.22461s.24219-.35596,.24219-.61914c0-.26807-.07617-.479-.22852-.63281s-.38623-.23047-.70117-.23047h-.94141v1.70703Z" /><path d="M30.24219,5.21094c0-.17969,.06055-.32568,.18164-.4375s.27295-.16797,.45508-.16797c.18506,0,.33789,.05615,.45898,.16797s.18164,.25781,.18164,.4375c0,.17725-.06006,.3208-.17969,.43164s-.27344,.16602-.46094,.16602c-.18506,0-.3374-.05518-.45703-.16602s-.17969-.25439-.17969-.43164Z" /><path d="M37.20703,5.76562h-1.17188l-2.28125-3.74219v3.74219h-1.17188V.07812h1.17188l2.28516,3.75V.07812h1.16797V5.76562Z" /><path d="M41.65234,3.30078h-2.25v1.52344h2.64062v.94141h-3.8125V.07812h3.80469v.94922h-2.63281v1.35547h2.25v.91797Z" /><path d="M47.08984,1.02734h-1.74219V5.76562h-1.17188V1.02734h-1.71875V.07812h4.63281v.94922Z" /><path d="M49.51562,5.76562V.07812h1.75c.5,0,.94727,.11279,1.3418,.33789s.70215,.54541,.92383,.96094,.33203,.88721,.33203,1.41602v.26172c0,.52881-.1084,.99854-.32617,1.41016s-.52441,.73047-.91992,.95703-.84277,.34131-1.33984,.34375h-1.76172Zm1.17188-4.73828v3.79688h.56641c.45801,0,.80859-.1499,1.05078-.44922s.36621-.72803,.37109-1.28516v-.30078c0-.57812-.12012-1.01611-.35938-1.31445s-.58984-.44727-1.05078-.44727h-.57812Z" /><path d="M58.13672,3.30078h-2.25v1.52344h2.64062v.94141h-3.8125V.07812h3.80469v.94922h-2.63281v1.35547h2.25v.91797Z" /><path d="M61.31641,4.35547L62.60547,.07812h1.30469l-1.98047,5.6875h-1.22266L58.73438,.07812h1.30078l1.28125,4.27734Z" /><path d="M67.86719,3.30078h-2.25v1.52344h2.64062v.94141h-3.8125V.07812h3.80469v.94922h-2.63281v1.35547h2.25v.91797Z" /><path d="M70.11719,4.82422h2.48828v.94141h-3.66016V.07812h1.17188V4.82422Z" /><path d="M77.69922,3.05078c0,.56006-.09863,1.05078-.29688,1.47266s-.48145,.74756-.84961,.97656-.79102,.34375-1.26758,.34375c-.47168,0-.8916-.11328-1.26172-.33984s-.65625-.55029-.85938-.9707-.30566-.9043-.30859-1.45117v-.28125c0-.56006,.10059-1.05273,.30273-1.47852s.4873-.75244,.85547-.98047,.79004-.3418,1.26367-.3418,.89551,.11377,1.26367,.3418,.65332,.55469,.85547,.98047,.30273,.91748,.30273,1.47461v.25391Zm-1.1875-.25781c0-.59619-.10645-1.04932-.32031-1.35938s-.51855-.46484-.91406-.46484c-.39355,0-.69629,.15283-.91016,.45898s-.32129,.75439-.32422,1.3457v.27734c0,.58057,.10645,1.03125,.32031,1.35156s.52051,.48047,.92188,.48047c.39355,0,.69531-.1543,.90625-.46289s.31738-.7583,.32031-1.34961v-.27734Z" /><path d="M79.72266,3.76172v2.00391h-1.17188V.07812h2.21875c.42676,0,.80273,.07812,1.12695,.23438s.57324,.37842,.74805,.66602,.26172,.61523,.26172,.98242c0,.55713-.19043,.99658-.57227,1.31836s-.90918,.48242-1.58398,.48242h-1.02734Zm0-.94922h1.04688c.30957,0,.5459-.07275,.70898-.21875s.24414-.354,.24414-.625c0-.27881-.08203-.50391-.24609-.67578s-.39062-.26025-.67969-.26562h-1.07422v1.78516Z" /><path d="M87.13281,3.30078h-2.25v1.52344h2.64062v.94141h-3.8125V.07812h3.80469v.94922h-2.63281v1.35547h2.25v.91797Z" /><path d="M90.31641,3.68359h-.93359v2.08203h-1.17188V.07812h2.11328c.67188,0,1.19043,.1499,1.55469,.44922s.54688,.72266,.54688,1.26953c0,.38818-.08398,.71143-.25195,.9707s-.42285,.46533-.76367,.61914l1.23047,2.32422v.05469h-1.25781l-1.06641-2.08203Zm-.93359-.94922h.94531c.29395,0,.52246-.07471,.68359-.22461s.24219-.35596,.24219-.61914c0-.26807-.07617-.479-.22852-.63281s-.38574-.23047-.70117-.23047h-.94141v1.70703Z" />
                        </clipPath>
                    </defs>
                    <g>
                        <path id="pathDeveloper" d="M3.1875,4.27344c0-.22119-.07812-.39111-.23438-.50977s-.4375-.24365-.84375-.375-.72803-.26123-.96484-.38867C.49854,2.65088,.17578,2.18115,.17578,1.58984c0-.30713,.08643-.58154,.25977-.82227S.85742,.33838,1.18164,.20312s.68799-.20312,1.0918-.20312c.40625,0,.76807,.07373,1.08594,.2207s.56445,.35498,.74023,.62305,.26367,.57275,.26367,.91406h-1.17188c0-.26025-.08203-.46289-.24609-.60742s-.39453-.2168-.69141-.2168c-.28662,0-.50928,.06055-.66797,.18164s-.23828,.28076-.23828,.47852c0,.18506,.09326,.33984,.2793,.46484s.46045,.24219,.82227,.35156c.6665,.20068,1.15234,.44922,1.45703,.74609s.45703,.6665,.45703,1.10938c0,.49219-.18604,.87842-.55859,1.1582s-.87354,.41992-1.50391,.41992c-.4375,0-.83594-.08008-1.19531-.24023s-.6333-.37939-.82227-.6582-.2832-.60156-.2832-.96875H1.17578c0,.62744,.375,.94141,1.125,.94141,.27881,0,.49609-.05664,.65234-.16992s.23438-.27148,.23438-.47461Z" /><path d="M8.57812,3.30078h-2.25v1.52344h2.64062v.94141h-3.8125V.07812h3.80469v.94922h-2.63281v1.35547h2.25v.91797Z" /><path d="M14.28125,5.76562h-1.17188l-2.28125-3.74219v3.74219h-1.17188V.07812h1.17188l2.28516,3.75V.07812h1.16797V5.76562Z" /><path d="M16.55078,5.76562h-1.17188V.07812h1.17188V5.76562Z" /><path d="M22.30859,3.05078c0,.56006-.09912,1.05078-.29688,1.47266s-.48096,.74756-.84961,.97656-.79102,.34375-1.26758,.34375c-.47119,0-.89209-.11328-1.26172-.33984s-.65625-.55029-.85938-.9707-.30615-.9043-.30859-1.45117v-.28125c0-.56006,.10107-1.05273,.30273-1.47852s.48682-.75244,.85547-.98047,.78955-.3418,1.26367-.3418,.89502,.11377,1.26367,.3418,.65381,.55469,.85547,.98047,.30273,.91748,.30273,1.47461v.25391Zm-1.1875-.25781c0-.59619-.10693-1.04932-.32031-1.35938s-.51807-.46484-.91406-.46484c-.39307,0-.69678,.15283-.91016,.45898s-.32178,.75439-.32422,1.3457v.27734c0,.58057,.10693,1.03125,.32031,1.35156s.521,.48047,.92188,.48047c.39307,0,.69531-.1543,.90625-.46289s.31787-.7583,.32031-1.34961v-.27734Z" /><path d="M25.26562,3.68359h-.93359v2.08203h-1.17188V.07812h2.11328c.67188,0,1.18994,.1499,1.55469,.44922s.54688,.72266,.54688,1.26953c0,.38818-.08398,.71143-.25195,.9707s-.42236,.46533-.76367,.61914l1.23047,2.32422v.05469h-1.25781l-1.06641-2.08203Zm-.93359-.94922h.94531c.29443,0,.52197-.07471,.68359-.22461s.24219-.35596,.24219-.61914c0-.26807-.07617-.479-.22852-.63281s-.38623-.23047-.70117-.23047h-.94141v1.70703Z" /><path d="M30.24219,5.21094c0-.17969,.06055-.32568,.18164-.4375s.27295-.16797,.45508-.16797c.18506,0,.33789,.05615,.45898,.16797s.18164,.25781,.18164,.4375c0,.17725-.06006,.3208-.17969,.43164s-.27344,.16602-.46094,.16602c-.18506,0-.3374-.05518-.45703-.16602s-.17969-.25439-.17969-.43164Z" /><path d="M37.20703,5.76562h-1.17188l-2.28125-3.74219v3.74219h-1.17188V.07812h1.17188l2.28516,3.75V.07812h1.16797V5.76562Z" /><path d="M41.65234,3.30078h-2.25v1.52344h2.64062v.94141h-3.8125V.07812h3.80469v.94922h-2.63281v1.35547h2.25v.91797Z" /><path d="M47.08984,1.02734h-1.74219V5.76562h-1.17188V1.02734h-1.71875V.07812h4.63281v.94922Z" /><path d="M49.51562,5.76562V.07812h1.75c.5,0,.94727,.11279,1.3418,.33789s.70215,.54541,.92383,.96094,.33203,.88721,.33203,1.41602v.26172c0,.52881-.1084,.99854-.32617,1.41016s-.52441,.73047-.91992,.95703-.84277,.34131-1.33984,.34375h-1.76172Zm1.17188-4.73828v3.79688h.56641c.45801,0,.80859-.1499,1.05078-.44922s.36621-.72803,.37109-1.28516v-.30078c0-.57812-.12012-1.01611-.35938-1.31445s-.58984-.44727-1.05078-.44727h-.57812Z" /><path d="M58.13672,3.30078h-2.25v1.52344h2.64062v.94141h-3.8125V.07812h3.80469v.94922h-2.63281v1.35547h2.25v.91797Z" /><path d="M61.31641,4.35547L62.60547,.07812h1.30469l-1.98047,5.6875h-1.22266L58.73438,.07812h1.30078l1.28125,4.27734Z" /><path d="M67.86719,3.30078h-2.25v1.52344h2.64062v.94141h-3.8125V.07812h3.80469v.94922h-2.63281v1.35547h2.25v.91797Z" /><path d="M70.11719,4.82422h2.48828v.94141h-3.66016V.07812h1.17188V4.82422Z" /><path d="M77.69922,3.05078c0,.56006-.09863,1.05078-.29688,1.47266s-.48145,.74756-.84961,.97656-.79102,.34375-1.26758,.34375c-.47168,0-.8916-.11328-1.26172-.33984s-.65625-.55029-.85938-.9707-.30566-.9043-.30859-1.45117v-.28125c0-.56006,.10059-1.05273,.30273-1.47852s.4873-.75244,.85547-.98047,.79004-.3418,1.26367-.3418,.89551,.11377,1.26367,.3418,.65332,.55469,.85547,.98047,.30273,.91748,.30273,1.47461v.25391Zm-1.1875-.25781c0-.59619-.10645-1.04932-.32031-1.35938s-.51855-.46484-.91406-.46484c-.39355,0-.69629,.15283-.91016,.45898s-.32129,.75439-.32422,1.3457v.27734c0,.58057,.10645,1.03125,.32031,1.35156s.52051,.48047,.92188,.48047c.39355,0,.69531-.1543,.90625-.46289s.31738-.7583,.32031-1.34961v-.27734Z" /><path d="M79.72266,3.76172v2.00391h-1.17188V.07812h2.21875c.42676,0,.80273,.07812,1.12695,.23438s.57324,.37842,.74805,.66602,.26172,.61523,.26172,.98242c0,.55713-.19043,.99658-.57227,1.31836s-.90918,.48242-1.58398,.48242h-1.02734Zm0-.94922h1.04688c.30957,0,.5459-.07275,.70898-.21875s.24414-.354,.24414-.625c0-.27881-.08203-.50391-.24609-.67578s-.39062-.26025-.67969-.26562h-1.07422v1.78516Z" /><path d="M87.13281,3.30078h-2.25v1.52344h2.64062v.94141h-3.8125V.07812h3.80469v.94922h-2.63281v1.35547h2.25v.91797Z" /><path d="M90.31641,3.68359h-.93359v2.08203h-1.17188V.07812h2.11328c.67188,0,1.19043,.1499,1.55469,.44922s.54688,.72266,.54688,1.26953c0,.38818-.08398,.71143-.25195,.9707s-.42285,.46533-.76367,.61914l1.23047,2.32422v.05469h-1.25781l-1.06641-2.08203Zm-.93359-.94922h.94531c.29395,0,.52246-.07471,.68359-.22461s.24219-.35596,.24219-.61914c0-.26807-.07617-.479-.22852-.63281s-.38574-.23047-.70117-.23047h-.94141v1.70703Z" />
                    </g>
                </svg>
            </div>
        </div>

        <div id="divPhone" style="backdrop-filter: blur(5px); clip-path: url(#clipPhone); margin-top: 100px; width: 70%; grid-column-start: 1; grid-column-end: 2; grid-row-start: 3; grid-row-end: 4; align-self: end; justify-self: start; margin-left: 50px; margin-bottom: 50px;">
            <svg id="svgPhone">
                <defs>
                    <clipPath id="clipPhone" clipPathUnits="objectBoundingBox">
                        <path d="M1.92773,3.63281h.90234c.42969,0,.74805-.10742,.95508-.32227s.31055-.5,.31055-.85547c0-.34375-.10254-.61133-.30762-.80273s-.4873-.28711-.84668-.28711c-.32422,0-.5957,.08887-.81445,.2666s-.32812,.40918-.32812,.69434H.10547c0-.44531,.12012-.84473,.36035-1.19824S1.04199,.49805,1.47363,.29883s.90723-.29883,1.42676-.29883c.90234,0,1.60938,.21582,2.12109,.64746s.76758,1.02637,.76758,1.78418c0,.39062-.11914,.75-.35742,1.07812s-.55078,.58008-.9375,.75586c.48047,.17188,.83887,.42969,1.0752,.77344s.35449,.75,.35449,1.21875c0,.75781-.27637,1.36523-.8291,1.82227s-1.28418,.68555-2.19434,.68555c-.85156,0-1.54785-.22461-2.08887-.67383s-.81152-1.04297-.81152-1.78125H1.69336c0,.32031,.12012,.58203,.36035,.78516s.53613,.30469,.8877,.30469c.40234,0,.71777-.10645,.94629-.31934s.34277-.49512,.34277-.84668c0-.85156-.46875-1.27734-1.40625-1.27734h-.89648v-1.32422Z
                                            M10.24316,8.64844h-1.69336V2.12109l-2.02148,.62695V1.37109L10.06152,.10547h.18164V8.64844Z
                                            M17.07666,5.12109c0,1.17969-.24414,2.08203-.73242,2.70703s-1.20312,.9375-2.14453,.9375c-.92969,0-1.64062-.30664-2.13281-.91992s-.74414-1.49219-.75586-2.63672v-1.57031c0-1.19141,.24707-2.0957,.74121-2.71289s1.20605-.92578,2.13574-.92578,1.64062,.30566,2.13281,.91699,.74414,1.48926,.75586,2.63379v1.57031Zm-1.69336-1.72656c0-.70752-.09668-1.22266-.29004-1.54541s-.49512-.48389-.90527-.48389c-.39844,0-.69238,.15332-.88184,.46045s-.29004,.78662-.30176,1.43994v2.07617c0,.6958,.09473,1.21289,.28418,1.55127s.49316,.50732,.91113,.50732c.41406,0,.71289-.16211,.89648-.48682,.18359-.32422,.2793-.8208,.28711-1.48975V3.39453Z
                                            M17.89746,7.81641c0-.26953,.09082-.48828,.27246-.65625s.40918-.25195,.68262-.25195c.27734,0,.50684,.08398,.68848,.25195s.27246,.38672,.27246,.65625c0,.26562-.08984,.48145-.26953,.64746s-.41016,.24902-.69141,.24902c-.27734,0-.50586-.08301-.68555-.24902s-.26953-.38184-.26953-.64746Z
                                            M24.22607,5.23828c-.44141,.43359-.95703,.65039-1.54688,.65039-.75391,0-1.35742-.25879-1.81055-.77637-.45264-.51758-.6792-1.21582-.6792-2.09473,0-.55859,.12207-1.07129,.36621-1.53809s.58447-.83008,1.02197-1.08984,.92969-.38965,1.47656-.38965c.5625,0,1.0625,.14062,1.5,.42188s.77734,.68555,1.01953,1.21289,.36523,1.13086,.36914,1.81055v.62695c0,1.42188-.35352,2.53906-1.06055,3.35156s-1.70898,1.24609-3.00586,1.30078l-.41602,.00586v-1.41211l.375-.00586c1.47266-.06641,2.26953-.75781,2.39062-2.07422Zm-1.13086-.64453c.27344,0,.50977-.07031,.70703-.21094s.3457-.31055,.44727-.50977v-.69727c0-.57422-.10938-1.01953-.32812-1.33594s-.51172-.47461-.87891-.47461c-.33984,0-.61914,.15527-.83789,.46582s-.32812,.7002-.32812,1.16895c0,.46484,.10742,.84668,.32031,1.14551s.51172,.44824,.89844,.44824Z
                                            M32.16064,5.4375h.9668v1.36523h-.9668v1.8457h-1.69336v-1.8457h-3.49805l-.07617-1.06641L30.44971,.11719h1.71094V5.4375Zm-3.58008,0h1.88672V2.42578l-.11133,.19336-1.77539,2.81836Z
                                            M38.62939,.0293V1.42383h-.16406c-.76562,.01172-1.38184,.21094-1.84863,.59766s-.74707,.92383-.84082,1.61133c.45312-.46094,1.02539-.69141,1.7168-.69141,.74219,0,1.33203,.26562,1.76953,.79688s.65625,1.23047,.65625,2.09766c0,.55469-.12012,1.05664-.36035,1.50586s-.58008,.79883-1.01953,1.04883-.93652,.375-1.49121,.375c-.89844,0-1.62402-.3125-2.17676-.9375s-.8291-1.45898-.8291-2.50195v-.60938c0-.92578,.1748-1.74316,.52441-2.45215s.85156-1.25781,1.50586-1.64648S37.48486,.0332,38.34814,.0293h.28125Zm-1.65234,4.27734c-.27344,0-.52148,.07129-.74414,.21338-.22266,.14258-.38672,.33057-.49219,.56445v.51465c0,.56543,.11133,1.00684,.33398,1.32471s.53516,.47656,.9375,.47656c.36328,0,.65723-.14307,.88184-.42969s.33691-.6582,.33691-1.11426c0-.46387-.11328-.83838-.33984-1.12305-.22656-.28418-.53125-.42676-.91406-.42676Z
                                            M40.59814,7.81641c0-.26953,.09082-.48828,.27246-.65625s.40918-.25195,.68262-.25195c.27734,0,.50684,.08398,.68848,.25195s.27246,.38672,.27246,.65625c0,.26562-.08984,.48145-.26953,.64746s-.41016,.24902-.69141,.24902c-.27734,0-.50586-.08301-.68555-.24902s-.26953-.38184-.26953-.64746Z
                                            M49.00732,2.38477c0,.41406-.10352,.78125-.31055,1.10156s-.49219,.57617-.85547,.76758c.41406,.19922,.74219,.47363,.98438,.82324s.36328,.76074,.36328,1.2334c0,.75781-.25781,1.35645-.77344,1.7959s-1.2168,.65918-2.10352,.65918-1.58984-.2207-2.10938-.66211-.7793-1.03906-.7793-1.79297c0-.47266,.12109-.88477,.36328-1.23633s.56836-.625,.97852-.82031c-.36328-.19141-.64746-.44727-.85254-.76758s-.30762-.6875-.30762-1.10156c0-.72656,.24219-1.30566,.72656-1.7373s1.14258-.64746,1.97461-.64746c.82812,0,1.48535,.21387,1.97168,.6416s.72949,1.00879,.72949,1.74316Zm-1.51758,3.80273c0-.37109-.10742-.66797-.32227-.89062s-.50391-.33398-.86719-.33398c-.35938,0-.64648,.11035-.86133,.33105s-.32227,.51855-.32227,.89355c0,.36328,.10547,.65625,.31641,.87891s.50391,.33398,.87891,.33398c.36719,0,.65527-.10742,.86426-.32227s.31348-.51172,.31348-.89062Zm-.17578-3.7207c0-.33203-.08789-.59863-.26367-.7998s-.42383-.30176-.74414-.30176c-.31641,0-.5625,.09766-.73828,.29297s-.26367,.46484-.26367,.80859c0,.33984,.08789,.61328,.26367,.82031s.42383,.31055,.74414,.31055,.56738-.10352,.74121-.31055,.26074-.48047,.26074-.82031Z
                                            M55.3418,5.4375h.9668v1.36523h-.9668v1.8457h-1.69336v-1.8457h-3.49805l-.07617-1.06641L53.63086,.11719h1.71094V5.4375Zm-3.58008,0h1.88672V2.42578l-.11133,.19336-1.77539,2.81836Z
                                            M60.12988,8.64844h-1.69336V2.12109l-2.02148,.62695V1.37109L59.94824,.10547h.18164V8.64844Z
                                            M66.96289,5.12109c0,1.17969-.24414,2.08203-.73242,2.70703s-1.20312,.9375-2.14453,.9375c-.92969,0-1.64062-.30664-2.13281-.91992s-.74414-1.49219-.75586-2.63672v-1.57031c0-1.19141,.24707-2.0957,.74121-2.71289s1.20605-.92578,2.13574-.92578,1.64062,.30566,2.13281,.91699,.74414,1.48926,.75586,2.63379v1.57031Zm-1.69336-1.72656c0-.70752-.09668-1.22266-.29004-1.54541s-.49512-.48389-.90527-.48389c-.39844,0-.69238,.15332-.88184,.46045s-.29004,.78662-.30176,1.43994v2.07617c0,.6958,.09473,1.21289,.28418,1.55127s.49316,.50732,.91113,.50732c.41406,0,.71289-.16211,.89648-.48682,.18359-.32422,.2793-.8208,.28711-1.48975V3.39453Z" />
                    </clipPath>
                </defs>
                <path id="pathPhone" fill="#ffffff" fill-opacity=".6"
                      d="M1.92773,3.63281h.90234c.42969,0,.74805-.10742,.95508-.32227s.31055-.5,.31055-.85547c0-.34375-.10254-.61133-.30762-.80273s-.4873-.28711-.84668-.28711c-.32422,0-.5957,.08887-.81445,.2666s-.32812,.40918-.32812,.69434H.10547c0-.44531,.12012-.84473,.36035-1.19824S1.04199,.49805,1.47363,.29883s.90723-.29883,1.42676-.29883c.90234,0,1.60938,.21582,2.12109,.64746s.76758,1.02637,.76758,1.78418c0,.39062-.11914,.75-.35742,1.07812s-.55078,.58008-.9375,.75586c.48047,.17188,.83887,.42969,1.0752,.77344s.35449,.75,.35449,1.21875c0,.75781-.27637,1.36523-.8291,1.82227s-1.28418,.68555-2.19434,.68555c-.85156,0-1.54785-.22461-2.08887-.67383s-.81152-1.04297-.81152-1.78125H1.69336c0,.32031,.12012,.58203,.36035,.78516s.53613,.30469,.8877,.30469c.40234,0,.71777-.10645,.94629-.31934s.34277-.49512,.34277-.84668c0-.85156-.46875-1.27734-1.40625-1.27734h-.89648v-1.32422Z
                                    M10.24316,8.64844h-1.69336V2.12109l-2.02148,.62695V1.37109L10.06152,.10547h.18164V8.64844Z
                                    M17.07666,5.12109c0,1.17969-.24414,2.08203-.73242,2.70703s-1.20312,.9375-2.14453,.9375c-.92969,0-1.64062-.30664-2.13281-.91992s-.74414-1.49219-.75586-2.63672v-1.57031c0-1.19141,.24707-2.0957,.74121-2.71289s1.20605-.92578,2.13574-.92578,1.64062,.30566,2.13281,.91699,.74414,1.48926,.75586,2.63379v1.57031Zm-1.69336-1.72656c0-.70752-.09668-1.22266-.29004-1.54541s-.49512-.48389-.90527-.48389c-.39844,0-.69238,.15332-.88184,.46045s-.29004,.78662-.30176,1.43994v2.07617c0,.6958,.09473,1.21289,.28418,1.55127s.49316,.50732,.91113,.50732c.41406,0,.71289-.16211,.89648-.48682,.18359-.32422,.2793-.8208,.28711-1.48975V3.39453Z
                                    M17.89746,7.81641c0-.26953,.09082-.48828,.27246-.65625s.40918-.25195,.68262-.25195c.27734,0,.50684,.08398,.68848,.25195s.27246,.38672,.27246,.65625c0,.26562-.08984,.48145-.26953,.64746s-.41016,.24902-.69141,.24902c-.27734,0-.50586-.08301-.68555-.24902s-.26953-.38184-.26953-.64746Z
                                    M24.22607,5.23828c-.44141,.43359-.95703,.65039-1.54688,.65039-.75391,0-1.35742-.25879-1.81055-.77637-.45264-.51758-.6792-1.21582-.6792-2.09473,0-.55859,.12207-1.07129,.36621-1.53809s.58447-.83008,1.02197-1.08984,.92969-.38965,1.47656-.38965c.5625,0,1.0625,.14062,1.5,.42188s.77734,.68555,1.01953,1.21289,.36523,1.13086,.36914,1.81055v.62695c0,1.42188-.35352,2.53906-1.06055,3.35156s-1.70898,1.24609-3.00586,1.30078l-.41602,.00586v-1.41211l.375-.00586c1.47266-.06641,2.26953-.75781,2.39062-2.07422Zm-1.13086-.64453c.27344,0,.50977-.07031,.70703-.21094s.3457-.31055,.44727-.50977v-.69727c0-.57422-.10938-1.01953-.32812-1.33594s-.51172-.47461-.87891-.47461c-.33984,0-.61914,.15527-.83789,.46582s-.32812,.7002-.32812,1.16895c0,.46484,.10742,.84668,.32031,1.14551s.51172,.44824,.89844,.44824Z
                                    M32.16064,5.4375h.9668v1.36523h-.9668v1.8457h-1.69336v-1.8457h-3.49805l-.07617-1.06641L30.44971,.11719h1.71094V5.4375Zm-3.58008,0h1.88672V2.42578l-.11133,.19336-1.77539,2.81836Z
                                    M38.62939,.0293V1.42383h-.16406c-.76562,.01172-1.38184,.21094-1.84863,.59766s-.74707,.92383-.84082,1.61133c.45312-.46094,1.02539-.69141,1.7168-.69141,.74219,0,1.33203,.26562,1.76953,.79688s.65625,1.23047,.65625,2.09766c0,.55469-.12012,1.05664-.36035,1.50586s-.58008,.79883-1.01953,1.04883-.93652,.375-1.49121,.375c-.89844,0-1.62402-.3125-2.17676-.9375s-.8291-1.45898-.8291-2.50195v-.60938c0-.92578,.1748-1.74316,.52441-2.45215s.85156-1.25781,1.50586-1.64648S37.48486,.0332,38.34814,.0293h.28125Zm-1.65234,4.27734c-.27344,0-.52148,.07129-.74414,.21338-.22266,.14258-.38672,.33057-.49219,.56445v.51465c0,.56543,.11133,1.00684,.33398,1.32471s.53516,.47656,.9375,.47656c.36328,0,.65723-.14307,.88184-.42969s.33691-.6582,.33691-1.11426c0-.46387-.11328-.83838-.33984-1.12305-.22656-.28418-.53125-.42676-.91406-.42676Z
                                    M40.59814,7.81641c0-.26953,.09082-.48828,.27246-.65625s.40918-.25195,.68262-.25195c.27734,0,.50684,.08398,.68848,.25195s.27246,.38672,.27246,.65625c0,.26562-.08984,.48145-.26953,.64746s-.41016,.24902-.69141,.24902c-.27734,0-.50586-.08301-.68555-.24902s-.26953-.38184-.26953-.64746Z
                                    M49.00732,2.38477c0,.41406-.10352,.78125-.31055,1.10156s-.49219,.57617-.85547,.76758c.41406,.19922,.74219,.47363,.98438,.82324s.36328,.76074,.36328,1.2334c0,.75781-.25781,1.35645-.77344,1.7959s-1.2168,.65918-2.10352,.65918-1.58984-.2207-2.10938-.66211-.7793-1.03906-.7793-1.79297c0-.47266,.12109-.88477,.36328-1.23633s.56836-.625,.97852-.82031c-.36328-.19141-.64746-.44727-.85254-.76758s-.30762-.6875-.30762-1.10156c0-.72656,.24219-1.30566,.72656-1.7373s1.14258-.64746,1.97461-.64746c.82812,0,1.48535,.21387,1.97168,.6416s.72949,1.00879,.72949,1.74316Zm-1.51758,3.80273c0-.37109-.10742-.66797-.32227-.89062s-.50391-.33398-.86719-.33398c-.35938,0-.64648,.11035-.86133,.33105s-.32227,.51855-.32227,.89355c0,.36328,.10547,.65625,.31641,.87891s.50391,.33398,.87891,.33398c.36719,0,.65527-.10742,.86426-.32227s.31348-.51172,.31348-.89062Zm-.17578-3.7207c0-.33203-.08789-.59863-.26367-.7998s-.42383-.30176-.74414-.30176c-.31641,0-.5625,.09766-.73828,.29297s-.26367,.46484-.26367,.80859c0,.33984,.08789,.61328,.26367,.82031s.42383,.31055,.74414,.31055,.56738-.10352,.74121-.31055,.26074-.48047,.26074-.82031Z
                                    M55.3418,5.4375h.9668v1.36523h-.9668v1.8457h-1.69336v-1.8457h-3.49805l-.07617-1.06641L53.63086,.11719h1.71094V5.4375Zm-3.58008,0h1.88672V2.42578l-.11133,.19336-1.77539,2.81836Z
                                    M60.12988,8.64844h-1.69336V2.12109l-2.02148,.62695V1.37109L59.94824,.10547h.18164V8.64844Z
                                    M66.96289,5.12109c0,1.17969-.24414,2.08203-.73242,2.70703s-1.20312,.9375-2.14453,.9375c-.92969,0-1.64062-.30664-2.13281-.91992s-.74414-1.49219-.75586-2.63672v-1.57031c0-1.19141,.24707-2.0957,.74121-2.71289s1.20605-.92578,2.13574-.92578,1.64062,.30566,2.13281,.91699,.74414,1.48926,.75586,2.63379v1.57031Zm-1.69336-1.72656c0-.70752-.09668-1.22266-.29004-1.54541s-.49512-.48389-.90527-.48389c-.39844,0-.69238,.15332-.88184,.46045s-.29004,.78662-.30176,1.43994v2.07617c0,.6958,.09473,1.21289,.28418,1.55127s.49316,.50732,.91113,.50732c.41406,0,.71289-.16211,.89648-.48682,.18359-.32422,.2793-.8208,.28711-1.48975V3.39453Z" />
            </svg>
        </div>

        <div id="divEmail" style="backdrop-filter: blur(5px); clip-path: url(#clipEmail); margin-top: 100px; width: 100%; grid-column-start: 4; grid-column-end: 5; grid-row-start: 3; grid-row-end: 4; align-self: end; margin-bottom: 50px; justify-self: end; margin-right: 50px;">
            <svg id="svgEmail">
                <defs>
                    <clipPath id="clipEmail" clipPathUnits="objectBoundingBox">
                        <path d="M0,3.85547c0-.64844,.1543-1.17041,.46289-1.56641s.72461-.59375,1.24805-.59375c.46338,0,.82422,.15869,1.08203,.47656l.04688-.39844h1.02344V5.85938c0,.36963-.08398,.69141-.25195,.96484s-.4043,.48193-.70898,.625-.66162,.21484-1.07031,.21484c-.31006,0-.61182-.06201-.90625-.18555s-.51709-.2832-.66797-.47852l.5-.6875c.28125,.31494,.62256,.47266,1.02344,.47266,.29932,0,.53271-.08008,.69922-.24023s.25-.38721,.25-.68164v-.22656c-.26025,.29443-.60303,.44141-1.02734,.44141-.50781,0-.91846-.19873-1.23242-.5957s-.4707-.92383-.4707-1.58008v-.04688Zm1.12891,.08398c0,.3833,.07666,.68408,.23047,.90186s.36475,.32666,.63281,.32666c.34375,0,.58984-.12891,.73828-.38721v-1.78027c-.15088-.2583-.39453-.38721-.73047-.38721-.271,0-.48389,.11084-.63867,.33252s-.23242,.55322-.23242,.99365Z
            M7.26172,5.57031c-.27881,.33838-.66406,.50781-1.15625,.50781-.45312,0-.79883-.13037-1.03711-.39062s-.35986-.64209-.36523-1.14453V1.77344h1.12891v2.7334c0,.44092,.20068,.66113,.60156,.66113,.38281,0,.646-.13281,.78906-.39893V1.77344h1.13281V6h-1.0625l-.03125-.42969Z
            M10.78516,4.40234l.78125-2.62891h1.21094l-1.69922,4.88281-.09375,.22266c-.25244,.55225-.66943,.82812-1.25,.82812-.16406,0-.33057-.0249-.5-.07422v-.85547l.17188,.00391c.21338,0,.37305-.03271,.47852-.09766s.18799-.17334,.24805-.32422l.13281-.34766-1.48047-4.23828h1.21484l.78516,2.62891Z
            M12.62891,5.44531c0-.17969,.06055-.32568,.18164-.4375s.27295-.16797,.45508-.16797c.18506,0,.33789,.05615,.45898,.16797s.18164,.25781,.18164,.4375c0,.17725-.06006,.3208-.17969,.43164s-.27344,.16602-.46094,.16602c-.18506,0-.3374-.05518-.45703-.16602s-.17969-.25439-.17969-.43164Z
            M14.73047,3.85547c0-.64844,.1543-1.17041,.46289-1.56641s.72461-.59375,1.24805-.59375c.46338,0,.82422,.15869,1.08203,.47656l.04688-.39844h1.02344V5.85938c0,.36963-.08398,.69141-.25195,.96484s-.4043,.48193-.70898,.625-.66162,.21484-1.07031,.21484c-.31006,0-.61182-.06201-.90625-.18555s-.51709-.2832-.66797-.47852l.5-.6875c.28125,.31494,.62256,.47266,1.02344,.47266,.29932,0,.53271-.08008,.69922-.24023s.25-.38721,.25-.68164v-.22656c-.26025,.29443-.60303,.44141-1.02734,.44141-.50781,0-.91846-.19873-1.23242-.5957s-.4707-.92383-.4707-1.58008v-.04688Zm1.12891,.08398c0,.3833,.07666,.68408,.23047,.90186s.36475,.32666,.63281,.32666c.34375,0,.58984-.12891,.73828-.38721v-1.78027c-.15088-.2583-.39453-.38721-.73047-.38721-.271,0-.48389,.11084-.63867,.33252s-.23242,.55322-.23242,.99365Z
            M21.9917,5.57031c-.27734,.33838-.66406,.50781-1.15576,.50781-.45312,0-.79883-.13037-1.03711-.39062s-.35986-.64209-.36523-1.14453V1.77344h1.12891v2.7334c0,.44092,.20068,.66113,.60107,.66113,.38281,0,.64648-.13281,.78906-.39893V1.77344h1.13281V6h-1.0625l-.03125-.42969Z
            M25.23389,5.08984h2.06641v.91016h-3.50781v-.6875l1.98828-2.62891h-1.92969v-.91016h3.38672v.66504l-2.00391,2.65137Z
            M29.06592,1.77344l.03516,.47266c.2998-.36719,.7041-.55078,1.21484-.55078,.54395,0,.91797,.21484,1.12109,.64453,.29688-.42969,.71973-.64453,1.26953-.64453,.45801,0,.7998,.1333,1.02344,.40039s.33594,.66846,.33594,1.20508v2.69922h-1.13281V3.30469c0-.23975-.04688-.41455-.14062-.52539s-.25879-.16602-.49609-.16602c-.33887,0-.57324,.16162-.70312,.48438l.00391,2.90234h-1.12891V3.30859c0-.24463-.04785-.42188-.14453-.53125s-.26074-.16406-.49219-.16406c-.32031,0-.55176,.13281-.69531,.39844v2.98828h-1.12891V1.77344h1.05859Z
            M37.38232,6c-.05176-.10156-.08984-.22803-.11328-.37891-.27344,.30469-.62891,.45703-1.06641,.45703-.41406,0-.75684-.11963-1.0293-.35938s-.4082-.5415-.4082-.90625c0-.44775,.16602-.7915,.49805-1.03125s.81152-.36084,1.43945-.36328h.51953v-.24219c0-.19531-.0498-.35156-.15039-.46875s-.25879-.17578-.47461-.17578c-.19043,0-.33887,.04541-.44727,.13672s-.16211,.21631-.16211,.375h-1.12891c0-.24463,.0752-.47119,.22656-.67969s.36426-.37158,.64062-.49023,.58594-.17773,.92969-.17773c.52051,0,.93457,.13086,1.24023,.39258s.45898,.62939,.45898,1.10352v1.83203c.00293,.40088,.05859,.70459,.16797,.91016v.06641h-1.14062Zm-.93359-.78516c.16699,0,.32031-.03711,.46094-.11133s.24512-.17383,.3125-.29883v-.72656h-.42188c-.56543,0-.86621,.19531-.90234,.58594l-.00391,.06641c0,.14062,.0498,.25635,.14844,.34766s.23438,.13672,.40625,.13672Z
            M40.26123,1.77344l.03516,.48828c.30176-.37744,.70703-.56641,1.21484-.56641,.44824,0,.78125,.13135,1,.39453s.33105,.65625,.33594,1.17969v2.73047h-1.12891V3.29688c0-.23975-.05176-.41357-.15625-.52148s-.27734-.16211-.51953-.16211c-.31738,0-.55566,.13525-.71484,.40625v2.98047h-1.12891V1.77344h1.0625Z
            M50.10107,3.90625c-.02832,.6665-.19336,1.1958-.49414,1.58789s-.70508,.58789-1.21289,.58789c-.22363,0-.41699-.04834-.58008-.14453s-.28613-.23438-.36914-.41406c-.26074,.36475-.60059,.54688-1.01953,.54688-.37988,0-.6748-.16016-.88281-.48047s-.28613-.74365-.23438-1.26953c.04688-.42969,.15527-.81201,.32617-1.14648s.38574-.5918,.64648-.77148,.54199-.26953,.84375-.26953c.37207,0,.69043,.08594,.95312,.25781l.24609,.16797-.19922,2.25781c-.02637,.20557-.00293,.36328,.06836,.47266s.18555,.16406,.3418,.16406c.23926,0,.44043-.14014,.60156-.41992s.25-.64648,.26562-1.09961c.04395-.90869-.13867-1.60742-.54883-2.0957s-1.01758-.73242-1.82227-.73242c-.50293,0-.9502,.12744-1.34375,.38281s-.70312,.61768-.92969,1.08789-.35449,1.0083-.38281,1.61523c-.04199,.92188,.14355,1.63477,.55469,2.13867s1.02734,.75586,1.84766,.75586c.21582,0,.44238-.02393,.67969-.07227s.44141-.11279,.61328-.19336l.14844,.60156c-.15918,.104-.37305,.18799-.64258,.25195s-.54102,.0957-.81445,.0957c-.6875,0-1.27344-.13867-1.75781-.41602s-.8457-.68604-1.08398-1.22656-.3418-1.18555-.31055-1.93555c.03125-.71875,.19531-1.36328,.49219-1.93359s.70117-1.01123,1.21289-1.32227,1.08887-.4668,1.73242-.4668c.65332,0,1.21582,.14014,1.6875,.41992s.82422,.68018,1.05859,1.20117,.33691,1.12646,.30859,1.81641Zm-3.92578,.41406c-.02832,.34375,.00098,.60498,.08984,.7832s.23145,.26758,.42969,.26758c.12793,0,.24902-.05615,.36328-.16797s.20996-.27344,.28516-.48438l.16406-1.84766c-.10156-.03369-.20605-.05078-.3125-.05078-.2998,0-.53223,.12744-.69727,.38281s-.27246,.62744-.32227,1.11719Z
            M50.69873,3.85547c0-.64844,.1543-1.17041,.46289-1.56641s.72461-.59375,1.24805-.59375c.46387,0,.82422,.15869,1.08203,.47656l.04688-.39844h1.02344V5.85938c0,.36963-.08398,.69141-.25195,.96484s-.4043,.48193-.70898,.625-.66113,.21484-1.07031,.21484c-.30957,0-.6123-.06201-.90625-.18555s-.5166-.2832-.66797-.47852l.5-.6875c.28125,.31494,.62207,.47266,1.02344,.47266,.2998,0,.53223-.08008,.69922-.24023s.25-.38721,.25-.68164v-.22656c-.26074,.29443-.60254,.44141-1.02734,.44141-.50781,0-.91895-.19873-1.23242-.5957s-.4707-.92383-.4707-1.58008v-.04688Zm1.12891,.08398c0,.3833,.07715,.68408,.23047,.90186s.36426,.32666,.63281,.32666c.34375,0,.58984-.12891,.73828-.38721v-1.78027c-.15137-.2583-.39453-.38721-.73047-.38721-.27051,0-.4834,.11084-.63867,.33252s-.23242,.55322-.23242,.99365Z
            M56.48779,1.77344l.03516,.47266c.2998-.36719,.7041-.55078,1.21484-.55078,.54395,0,.91797,.21484,1.12109,.64453,.29688-.42969,.71973-.64453,1.26953-.64453,.45801,0,.7998,.1333,1.02344,.40039s.33594,.66846,.33594,1.20508v2.69922h-1.13281V3.30469c0-.23975-.04688-.41455-.14062-.52539s-.25879-.16602-.49609-.16602c-.33887,0-.57324,.16162-.70312,.48438l.00391,2.90234h-1.12891V3.30859c0-.24463-.04785-.42188-.14453-.53125s-.26074-.16406-.49219-.16406c-.32031,0-.55176,.13281-.69531,.39844v2.98828h-1.12891V1.77344h1.05859Z
            M64.8042,6c-.05176-.10156-.08984-.22803-.11328-.37891-.27344,.30469-.62891,.45703-1.06641,.45703-.41406,0-.75684-.11963-1.0293-.35938s-.4082-.5415-.4082-.90625c0-.44775,.16602-.7915,.49805-1.03125s.81152-.36084,1.43945-.36328h.51953v-.24219c0-.19531-.0498-.35156-.15039-.46875s-.25879-.17578-.47461-.17578c-.19043,0-.33887,.04541-.44727,.13672s-.16211,.21631-.16211,.375h-1.12891c0-.24463,.0752-.47119,.22656-.67969s.36426-.37158,.64062-.49023,.58594-.17773,.92969-.17773c.52051,0,.93457,.13086,1.24023,.39258s.45898,.62939,.45898,1.10352v1.83203c.00293,.40088,.05859,.70459,.16797,.91016v.06641h-1.14062Zm-.93359-.78516c.16699,0,.32031-.03711,.46094-.11133s.24512-.17383,.3125-.29883v-.72656h-.42188c-.56543,0-.86621,.19531-.90234,.58594l-.00391,.06641c0,.14062,.0498,.25635,.14844,.34766s.23438,.13672,.40625,.13672Z
            M66.63623,.67969c0-.16943,.05664-.30859,.16992-.41797s.26758-.16406,.46289-.16406c.19238,0,.34668,.05469,.46094,.16406s.17188,.24854,.17188,.41797c0,.17188-.05762,.3125-.17383,.42188s-.26855,.16406-.45898,.16406-.34277-.05469-.45898-.16406-.17383-.25-.17383-.42188Zm1.19922,5.32031h-1.13281V1.77344h1.13281V6Z
            M69.95654,6h-1.13281V0h1.13281V6Z
            M70.94482,5.44531c0-.17969,.06055-.32568,.18164-.4375s.27246-.16797,.45508-.16797c.18457,0,.33789,.05615,.45898,.16797s.18164,.25781,.18164,.4375c0,.17725-.05957,.3208-.17969,.43164s-.27344,.16602-.46094,.16602c-.18457,0-.33691-.05518-.45703-.16602s-.17969-.25439-.17969-.43164Z
            M74.96826,5.16797c.20801,0,.37793-.05713,.50781-.17188s.19824-.26709,.20312-.45703h1.05859c-.00293,.28662-.08105,.54883-.23438,.78711s-.36426,.42334-.63086,.55469-.56152,.19727-.88477,.19727c-.60449,0-1.08105-.19189-1.42969-.57617s-.52344-.91455-.52344-1.5918v-.07422c0-.65088,.17285-1.17041,.51953-1.55859s.82129-.58203,1.42578-.58203c.52832,0,.95215,.15039,1.27148,.45117s.48145,.70117,.48633,1.20117h-1.05859c-.00488-.21973-.07324-.39844-.20312-.53613-.12988-.13721-.30176-.20605-.51562-.20605-.2627,0-.46191,.0957-.5957,.2876s-.20117,.50244-.20117,.93311v.11719c0,.43555,.06641,.74854,.19922,.93896s.33496,.28564,.60547,.28564Z
            M77.20654,3.84766c0-.41943,.08105-.79297,.24219-1.12109s.39355-.58203,.69727-.76172,.65527-.26953,1.05664-.26953c.57031,0,1.03613,.17432,1.39648,.52344s.56152,.82275,.60352,1.42188l.00781,.28906c0,.64844-.18066,1.16846-.54297,1.56055s-.84766,.58789-1.45703,.58789-1.0957-.19531-1.45898-.58594-.54492-.92188-.54492-1.59375v-.05078Zm1.12891,.08008c0,.40186,.0752,.70898,.22656,.92139s.36719,.31885,.64844,.31885c.27344,0,.4873-.10498,.64062-.31494s.23047-.5459,.23047-1.00732c0-.39404-.07715-.69922-.23047-.91553s-.37012-.32471-.64844-.32471c-.27637,0-.48926,.10742-.64062,.32275s-.22656,.54834-.22656,.99951Z
            M82.96436,1.77344l.03516,.47266c.2998-.36719,.7041-.55078,1.21484-.55078,.54395,0,.91797,.21484,1.12109,.64453,.29688-.42969,.71973-.64453,1.26953-.64453,.45801,0,.7998,.1333,1.02344,.40039s.33594,.66846,.33594,1.20508v2.69922h-1.13281V3.30469c0-.23975-.04688-.41455-.14062-.52539s-.25879-.16602-.49609-.16602c-.33887,0-.57324,.16162-.70312,.48438l.00391,2.90234h-1.12891V3.30859c0-.24463-.04785-.42188-.14453-.53125s-.26074-.16406-.49219-.16406c-.32031,0-.55176,.13281-.69531,.39844v2.98828h-1.12891V1.77344h1.05859Z" />
                    </clipPath>
                </defs>
                <path id="pathEmail" fill="#ffffff" fill-opacity=".6"
                      d="M0,3.85547c0-.64844,.1543-1.17041,.46289-1.56641s.72461-.59375,1.24805-.59375c.46338,0,.82422,.15869,1.08203,.47656l.04688-.39844h1.02344V5.85938c0,.36963-.08398,.69141-.25195,.96484s-.4043,.48193-.70898,.625-.66162,.21484-1.07031,.21484c-.31006,0-.61182-.06201-.90625-.18555s-.51709-.2832-.66797-.47852l.5-.6875c.28125,.31494,.62256,.47266,1.02344,.47266,.29932,0,.53271-.08008,.69922-.24023s.25-.38721,.25-.68164v-.22656c-.26025,.29443-.60303,.44141-1.02734,.44141-.50781,0-.91846-.19873-1.23242-.5957s-.4707-.92383-.4707-1.58008v-.04688Zm1.12891,.08398c0,.3833,.07666,.68408,.23047,.90186s.36475,.32666,.63281,.32666c.34375,0,.58984-.12891,.73828-.38721v-1.78027c-.15088-.2583-.39453-.38721-.73047-.38721-.271,0-.48389,.11084-.63867,.33252s-.23242,.55322-.23242,.99365Z
            M7.26172,5.57031c-.27881,.33838-.66406,.50781-1.15625,.50781-.45312,0-.79883-.13037-1.03711-.39062s-.35986-.64209-.36523-1.14453V1.77344h1.12891v2.7334c0,.44092,.20068,.66113,.60156,.66113,.38281,0,.646-.13281,.78906-.39893V1.77344h1.13281V6h-1.0625l-.03125-.42969Z
            M10.78516,4.40234l.78125-2.62891h1.21094l-1.69922,4.88281-.09375,.22266c-.25244,.55225-.66943,.82812-1.25,.82812-.16406,0-.33057-.0249-.5-.07422v-.85547l.17188,.00391c.21338,0,.37305-.03271,.47852-.09766s.18799-.17334,.24805-.32422l.13281-.34766-1.48047-4.23828h1.21484l.78516,2.62891Z
            M12.62891,5.44531c0-.17969,.06055-.32568,.18164-.4375s.27295-.16797,.45508-.16797c.18506,0,.33789,.05615,.45898,.16797s.18164,.25781,.18164,.4375c0,.17725-.06006,.3208-.17969,.43164s-.27344,.16602-.46094,.16602c-.18506,0-.3374-.05518-.45703-.16602s-.17969-.25439-.17969-.43164Z
            M14.73047,3.85547c0-.64844,.1543-1.17041,.46289-1.56641s.72461-.59375,1.24805-.59375c.46338,0,.82422,.15869,1.08203,.47656l.04688-.39844h1.02344V5.85938c0,.36963-.08398,.69141-.25195,.96484s-.4043,.48193-.70898,.625-.66162,.21484-1.07031,.21484c-.31006,0-.61182-.06201-.90625-.18555s-.51709-.2832-.66797-.47852l.5-.6875c.28125,.31494,.62256,.47266,1.02344,.47266,.29932,0,.53271-.08008,.69922-.24023s.25-.38721,.25-.68164v-.22656c-.26025,.29443-.60303,.44141-1.02734,.44141-.50781,0-.91846-.19873-1.23242-.5957s-.4707-.92383-.4707-1.58008v-.04688Zm1.12891,.08398c0,.3833,.07666,.68408,.23047,.90186s.36475,.32666,.63281,.32666c.34375,0,.58984-.12891,.73828-.38721v-1.78027c-.15088-.2583-.39453-.38721-.73047-.38721-.271,0-.48389,.11084-.63867,.33252s-.23242,.55322-.23242,.99365Z
            M21.9917,5.57031c-.27734,.33838-.66406,.50781-1.15576,.50781-.45312,0-.79883-.13037-1.03711-.39062s-.35986-.64209-.36523-1.14453V1.77344h1.12891v2.7334c0,.44092,.20068,.66113,.60107,.66113,.38281,0,.64648-.13281,.78906-.39893V1.77344h1.13281V6h-1.0625l-.03125-.42969Z
            M25.23389,5.08984h2.06641v.91016h-3.50781v-.6875l1.98828-2.62891h-1.92969v-.91016h3.38672v.66504l-2.00391,2.65137Z
            M29.06592,1.77344l.03516,.47266c.2998-.36719,.7041-.55078,1.21484-.55078,.54395,0,.91797,.21484,1.12109,.64453,.29688-.42969,.71973-.64453,1.26953-.64453,.45801,0,.7998,.1333,1.02344,.40039s.33594,.66846,.33594,1.20508v2.69922h-1.13281V3.30469c0-.23975-.04688-.41455-.14062-.52539s-.25879-.16602-.49609-.16602c-.33887,0-.57324,.16162-.70312,.48438l.00391,2.90234h-1.12891V3.30859c0-.24463-.04785-.42188-.14453-.53125s-.26074-.16406-.49219-.16406c-.32031,0-.55176,.13281-.69531,.39844v2.98828h-1.12891V1.77344h1.05859Z
            M37.38232,6c-.05176-.10156-.08984-.22803-.11328-.37891-.27344,.30469-.62891,.45703-1.06641,.45703-.41406,0-.75684-.11963-1.0293-.35938s-.4082-.5415-.4082-.90625c0-.44775,.16602-.7915,.49805-1.03125s.81152-.36084,1.43945-.36328h.51953v-.24219c0-.19531-.0498-.35156-.15039-.46875s-.25879-.17578-.47461-.17578c-.19043,0-.33887,.04541-.44727,.13672s-.16211,.21631-.16211,.375h-1.12891c0-.24463,.0752-.47119,.22656-.67969s.36426-.37158,.64062-.49023,.58594-.17773,.92969-.17773c.52051,0,.93457,.13086,1.24023,.39258s.45898,.62939,.45898,1.10352v1.83203c.00293,.40088,.05859,.70459,.16797,.91016v.06641h-1.14062Zm-.93359-.78516c.16699,0,.32031-.03711,.46094-.11133s.24512-.17383,.3125-.29883v-.72656h-.42188c-.56543,0-.86621,.19531-.90234,.58594l-.00391,.06641c0,.14062,.0498,.25635,.14844,.34766s.23438,.13672,.40625,.13672Z
            M40.26123,1.77344l.03516,.48828c.30176-.37744,.70703-.56641,1.21484-.56641,.44824,0,.78125,.13135,1,.39453s.33105,.65625,.33594,1.17969v2.73047h-1.12891V3.29688c0-.23975-.05176-.41357-.15625-.52148s-.27734-.16211-.51953-.16211c-.31738,0-.55566,.13525-.71484,.40625v2.98047h-1.12891V1.77344h1.0625Z
            M50.10107,3.90625c-.02832,.6665-.19336,1.1958-.49414,1.58789s-.70508,.58789-1.21289,.58789c-.22363,0-.41699-.04834-.58008-.14453s-.28613-.23438-.36914-.41406c-.26074,.36475-.60059,.54688-1.01953,.54688-.37988,0-.6748-.16016-.88281-.48047s-.28613-.74365-.23438-1.26953c.04688-.42969,.15527-.81201,.32617-1.14648s.38574-.5918,.64648-.77148,.54199-.26953,.84375-.26953c.37207,0,.69043,.08594,.95312,.25781l.24609,.16797-.19922,2.25781c-.02637,.20557-.00293,.36328,.06836,.47266s.18555,.16406,.3418,.16406c.23926,0,.44043-.14014,.60156-.41992s.25-.64648,.26562-1.09961c.04395-.90869-.13867-1.60742-.54883-2.0957s-1.01758-.73242-1.82227-.73242c-.50293,0-.9502,.12744-1.34375,.38281s-.70312,.61768-.92969,1.08789-.35449,1.0083-.38281,1.61523c-.04199,.92188,.14355,1.63477,.55469,2.13867s1.02734,.75586,1.84766,.75586c.21582,0,.44238-.02393,.67969-.07227s.44141-.11279,.61328-.19336l.14844,.60156c-.15918,.104-.37305,.18799-.64258,.25195s-.54102,.0957-.81445,.0957c-.6875,0-1.27344-.13867-1.75781-.41602s-.8457-.68604-1.08398-1.22656-.3418-1.18555-.31055-1.93555c.03125-.71875,.19531-1.36328,.49219-1.93359s.70117-1.01123,1.21289-1.32227,1.08887-.4668,1.73242-.4668c.65332,0,1.21582,.14014,1.6875,.41992s.82422,.68018,1.05859,1.20117,.33691,1.12646,.30859,1.81641Zm-3.92578,.41406c-.02832,.34375,.00098,.60498,.08984,.7832s.23145,.26758,.42969,.26758c.12793,0,.24902-.05615,.36328-.16797s.20996-.27344,.28516-.48438l.16406-1.84766c-.10156-.03369-.20605-.05078-.3125-.05078-.2998,0-.53223,.12744-.69727,.38281s-.27246,.62744-.32227,1.11719Z
            M50.69873,3.85547c0-.64844,.1543-1.17041,.46289-1.56641s.72461-.59375,1.24805-.59375c.46387,0,.82422,.15869,1.08203,.47656l.04688-.39844h1.02344V5.85938c0,.36963-.08398,.69141-.25195,.96484s-.4043,.48193-.70898,.625-.66113,.21484-1.07031,.21484c-.30957,0-.6123-.06201-.90625-.18555s-.5166-.2832-.66797-.47852l.5-.6875c.28125,.31494,.62207,.47266,1.02344,.47266,.2998,0,.53223-.08008,.69922-.24023s.25-.38721,.25-.68164v-.22656c-.26074,.29443-.60254,.44141-1.02734,.44141-.50781,0-.91895-.19873-1.23242-.5957s-.4707-.92383-.4707-1.58008v-.04688Zm1.12891,.08398c0,.3833,.07715,.68408,.23047,.90186s.36426,.32666,.63281,.32666c.34375,0,.58984-.12891,.73828-.38721v-1.78027c-.15137-.2583-.39453-.38721-.73047-.38721-.27051,0-.4834,.11084-.63867,.33252s-.23242,.55322-.23242,.99365Z
            M56.48779,1.77344l.03516,.47266c.2998-.36719,.7041-.55078,1.21484-.55078,.54395,0,.91797,.21484,1.12109,.64453,.29688-.42969,.71973-.64453,1.26953-.64453,.45801,0,.7998,.1333,1.02344,.40039s.33594,.66846,.33594,1.20508v2.69922h-1.13281V3.30469c0-.23975-.04688-.41455-.14062-.52539s-.25879-.16602-.49609-.16602c-.33887,0-.57324,.16162-.70312,.48438l.00391,2.90234h-1.12891V3.30859c0-.24463-.04785-.42188-.14453-.53125s-.26074-.16406-.49219-.16406c-.32031,0-.55176,.13281-.69531,.39844v2.98828h-1.12891V1.77344h1.05859Z
            M64.8042,6c-.05176-.10156-.08984-.22803-.11328-.37891-.27344,.30469-.62891,.45703-1.06641,.45703-.41406,0-.75684-.11963-1.0293-.35938s-.4082-.5415-.4082-.90625c0-.44775,.16602-.7915,.49805-1.03125s.81152-.36084,1.43945-.36328h.51953v-.24219c0-.19531-.0498-.35156-.15039-.46875s-.25879-.17578-.47461-.17578c-.19043,0-.33887,.04541-.44727,.13672s-.16211,.21631-.16211,.375h-1.12891c0-.24463,.0752-.47119,.22656-.67969s.36426-.37158,.64062-.49023,.58594-.17773,.92969-.17773c.52051,0,.93457,.13086,1.24023,.39258s.45898,.62939,.45898,1.10352v1.83203c.00293,.40088,.05859,.70459,.16797,.91016v.06641h-1.14062Zm-.93359-.78516c.16699,0,.32031-.03711,.46094-.11133s.24512-.17383,.3125-.29883v-.72656h-.42188c-.56543,0-.86621,.19531-.90234,.58594l-.00391,.06641c0,.14062,.0498,.25635,.14844,.34766s.23438,.13672,.40625,.13672Z
            M66.63623,.67969c0-.16943,.05664-.30859,.16992-.41797s.26758-.16406,.46289-.16406c.19238,0,.34668,.05469,.46094,.16406s.17188,.24854,.17188,.41797c0,.17188-.05762,.3125-.17383,.42188s-.26855,.16406-.45898,.16406-.34277-.05469-.45898-.16406-.17383-.25-.17383-.42188Zm1.19922,5.32031h-1.13281V1.77344h1.13281V6Z
            M69.95654,6h-1.13281V0h1.13281V6Z
            M70.94482,5.44531c0-.17969,.06055-.32568,.18164-.4375s.27246-.16797,.45508-.16797c.18457,0,.33789,.05615,.45898,.16797s.18164,.25781,.18164,.4375c0,.17725-.05957,.3208-.17969,.43164s-.27344,.16602-.46094,.16602c-.18457,0-.33691-.05518-.45703-.16602s-.17969-.25439-.17969-.43164Z
            M74.96826,5.16797c.20801,0,.37793-.05713,.50781-.17188s.19824-.26709,.20312-.45703h1.05859c-.00293,.28662-.08105,.54883-.23438,.78711s-.36426,.42334-.63086,.55469-.56152,.19727-.88477,.19727c-.60449,0-1.08105-.19189-1.42969-.57617s-.52344-.91455-.52344-1.5918v-.07422c0-.65088,.17285-1.17041,.51953-1.55859s.82129-.58203,1.42578-.58203c.52832,0,.95215,.15039,1.27148,.45117s.48145,.70117,.48633,1.20117h-1.05859c-.00488-.21973-.07324-.39844-.20312-.53613-.12988-.13721-.30176-.20605-.51562-.20605-.2627,0-.46191,.0957-.5957,.2876s-.20117,.50244-.20117,.93311v.11719c0,.43555,.06641,.74854,.19922,.93896s.33496,.28564,.60547,.28564Z
            M77.20654,3.84766c0-.41943,.08105-.79297,.24219-1.12109s.39355-.58203,.69727-.76172,.65527-.26953,1.05664-.26953c.57031,0,1.03613,.17432,1.39648,.52344s.56152,.82275,.60352,1.42188l.00781,.28906c0,.64844-.18066,1.16846-.54297,1.56055s-.84766,.58789-1.45703,.58789-1.0957-.19531-1.45898-.58594-.54492-.92188-.54492-1.59375v-.05078Zm1.12891,.08008c0,.40186,.0752,.70898,.22656,.92139s.36719,.31885,.64844,.31885c.27344,0,.4873-.10498,.64062-.31494s.23047-.5459,.23047-1.00732c0-.39404-.07715-.69922-.23047-.91553s-.37012-.32471-.64844-.32471c-.27637,0-.48926,.10742-.64062,.32275s-.22656,.54834-.22656,.99951Z
            M82.96436,1.77344l.03516,.47266c.2998-.36719,.7041-.55078,1.21484-.55078,.54395,0,.91797,.21484,1.12109,.64453,.29688-.42969,.71973-.64453,1.26953-.64453,.45801,0,.7998,.1333,1.02344,.40039s.33594,.66846,.33594,1.20508v2.69922h-1.13281V3.30469c0-.23975-.04688-.41455-.14062-.52539s-.25879-.16602-.49609-.16602c-.33887,0-.57324,.16162-.70312,.48438l.00391,2.90234h-1.12891V3.30859c0-.24463-.04785-.42188-.14453-.53125s-.26074-.16406-.49219-.16406c-.32031,0-.55176,.13281-.69531,.39844v2.98828h-1.12891V1.77344h1.05859Z" />
            </svg>
        </div>


    </div>
</div>


<div style="margin-top: 0px;">

    <div class="resume" style="padding-top: 100px; background-color: transparent;">

        <div class="panel" id="panel1" style="grid-column-start: 1; grid-column-end: 2;">
            <div class="panelTitle">
                Skill Set
            </div>
            <div class="panelBody">
                <div class="panelTitle_Level1">
                    Microsoft
                </div>
                <div class="panelBody_Level1">
                    Experienced with the Microsoft ecosystem since the first .NET release over 20 years ago. I develop in this
                    ecosystem using C#, SQL Server, Visual Studio 2022, Entity Framework and the Azure cloud services. Recent activity
                    has been using Razor pages with NET 6.
                </div>
            </div>
            <div class="panelTitle_Level1">
                Other Skills
            </div>
            <div class="panelBody_Level1">
                HTML5, CSS, Javascript
                <br /><br />
                Database architecture (transform business rules and work flows into a usable relational database)
                <br /><br />
            </div>
        </div>

        <div class="panel" id="panel2" style="grid-column-start: 2; grid-column-end: 3;">
            <div class="panelTitle">
                Projects
            </div>
            <div class="panelBody">
                <div class="panelTitle_Level1">
                    Microsoft
                </div>
                <div class="panelBody_Level1">
                    Experienced with the Microsoft ecosystem since the first .NET release over 20 years ago. I develop in this
                    ecosystem using C#, SQL Server, Visual Studio 2022, Entity Framework and the Azure cloud services. Recent activity
                    has been using Razor pages with NET 6.
                </div>
            </div>
            <div class="panelTitle_Level1">
                Other Skills
            </div>
            <div class="panelBody_Level1">
                HTML5, CSS, Javascript
                <br /><br />
                Database architecture (transform business rules and workflows into a usable relational database)
                <br /><br />
            </div>
        </div>

        <div class="panel" id="panel3" style="grid-column-start: 3; grid-column-end: 4;">
            <div class="panelTitle">
                Major Projects
            </div>
            <div class="panelBody">
                <div class="panelTitle_Level1">
                    State of Nevada
                </div>
                <div class="panelBody_Level1">
                    Experienced with the Microsoft ecosystem since the first .NET release over 20 years ago. I develop in this
                    ecosystem using C#, SQL Server, Visual Studio 2022, Entity Framework and the Azure cloud services. Recent activity
                    has been using Razor pages with NET 6.
                </div>
            </div>
            <div class="panelTitle_Level1">
                Delivery Driver Management
            </div>
            <div class="panelBody_Level1">
                HTML5, CSS, Javascript
                <br /><br />
                Database architecture (transform business rules and workflows into a usable relational database)
                <br /><br />
            </div>
        </div>

        <div class="panel" id="panel4" style="grid-column-start: 4; grid-column-end: 4;">
            <div class="panelTitle">
                Education
            </div>
            <div class="panelBody">
                <div class="panelTitle_Level1">
                    University of Notre Dame
                </div>
                <div class="panelBody_Level1">
                    Physics, MS
                </div>
            </div>
            <div class="panelTitle_Level1">
                Loyola Marymount University
            </div>
            <div class="panelBody_Level1">
                Physics, MS
            </div>
        </div>

    </div>

</div>
<script>

    $(document).ready(function() {

        try {
            setViewBoxClipPathScale("svgPhone", "clipPhone");
        } catch (err) {
        };

        try {
            setViewBoxClipPathScale("svgEmail", "clipEmail");
        } catch (err) {
        };

        try {
            setViewBoxClipPathScale("svgDeveloper", "clipDeveloper");
        } catch (err) {
        };

    });

    function setViewBoxClipPathScale(svgId, clipPathId) {

        const currentSVG = document.getElementById(svgId);
        const currentClipPath = document.getElementById(clipPathId);
        const lowermin = 0.00001;

        var bbox = currentSVG.getBBox();
        var x = bbox.x;
        var y = bbox.y;
        var width = bbox.width;
        var height = bbox.height;
        var scaleX = 1 / width;
        var scaleY = 1 / height;
        var absX = Math.abs(x);
        var absY = Math.abs(y);
        if (absX < lowermin) x = 0;
        if (absY < lowermin) y = 0;
        var translateX = 0;
        var translateY = 0;
        translateX = x * (-1);
        translateY = y * (-1);

        const viewbox = `${x} ${y} ${width} ${height}`;
        const scale = `scale(${scaleX} ${scaleY})`;
        const translate = `translate(${translateX} ${translateY})`;

        currentSVG.setAttribute('viewBox', viewbox);
        currentClipPath.setAttribute('transform', scale);

    }

    function svgResetOrigin(svgId, targetId) {

        const currentSVG = document.getElementById(svgId);
        const target = document.getElementById(targetId);
        const lowermin = 0.00001;

        var bbox = currentSVG.getBBox();
        var x = bbox.x;
        var y = bbox.y;
        var width = bbox.width;
        var height = bbox.height;
        var scaleX = 1 / width;
        var scaleY = 1 / height;
        var absX = Math.abs(x);
        var absY = Math.abs(y);
        if (absX < lowermin) x = 0;
        if (absY < lowermin) y = 0;
        var translateX = 0;
        var translateY = 0;
        translateX = x * (-1);
        translateY = y * (-1);

        const translate = `translate(${translateX} ${translateY})`;

        target.setAttribute('transform', translate);
    }

    function setViewBox(svgId) {

        const currentSVG = document.getElementById(svgId);
        const lowermin = 0.00001;

        var bbox = currentSVG.getBBox();
        var x = bbox.x;
        var y = bbox.y;
        var width = bbox.width;
        var height = bbox.height;
        var scaleX = 1 / width;
        var scaleY = 1 / height;
        var absX = Math.abs(x);
        var absY = Math.abs(y);
        if (absX < lowermin) x = 0;
        if (absY < lowermin) y = 0;

        const viewbox = `${x} ${y} ${width} ${height}`;
        const scale = `scale(${scaleX} ${scaleY})`;

        currentSVG.setAttribute('viewBox', viewbox);

    }
</script>